.DS_Store

# javascript
node_modules/
.flowconfig
yarn.lock


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

.env

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

